<iframe width="560" height="315" src="https://www.youtube.com/embed/KMiFvj88_RY?si=7Elt5GsCyKjkNKaz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.2927501659256!2d140.0308307!3d35.6451583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602281f64a6b928d%3A0x6df5d2c745778da9!2zWk9aT-ODnuODquODs-OCueOCv-OCuOOCouODoA!5e0!3m2!1sja!2sjp!4v1697296198784!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<%= link_to "新規投稿ページへ", new_ball2_path %>

<div class="tweets-container">
  <% @ball2s.each do |t| %>
    <div class="ball2">
      <%= t.review2 %>
      <%= t.created_at %>
    </div>
  <% end %>
</div>

<%= link_to "トップページへ", balls_top_path %>